@media (max-width:425px) {

    body{
        display: flex;
        justify-content: center;
        background-image: url(../images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: none;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        animation: none;
    }

    .wraper{
        animation: none;
    }

    .wraper-white{
        bottom: 0;
        left: 4rem;  
        animation: none;
        box-shadow: none;
    }
    .wraper-white:before{
        display: none;
    }

    .wraper-right{
        width: 350px;
        position: 4;
        animation: none;
        margin: 0;
        margin-top: 1.5rem;

    }

    footer{

        margin-top: 5rem;
        
    }

    .wraper .icons{
        animation: none;
    }
    

}

@media (max-width:375px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 1024px;
    }

    .wraper .icons{
        animation: none;
    }
}

@media (max-width:360px) {

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 360px;
        background-size: 667px;
    }
    
    .wraper .icons{
        animation: none;
    }
}


@media (max-width:320px) {

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: 1024px;
    }
       
    .wraper .icons{
        animation: none;
    }
}

@media (max-width: 768px){

    body{
        background-image: url(../images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: 1024px;

    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    
    body{
        flex-wrap: wrap;
        background-image: url(../images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}